 .greentext .list-cell {
 	-fx-text-fill: green;
 }
 
 .redtext .list-cell {
 	-fx-text-fill: red;
 }
 
 .goodComparisonResults {
 	-fx-text-fill: green;
 }
 
 .badComparisonResults {
 	-fx-text-fill: red;
 }
